.home-container {
  padding-bottom: 2.5rem;
  
  // tabbar栏
  :global(.am-tab-bar) {
    :global(.am-tabs-tab-bar-wrap) {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 2.5rem;

      :global(.am-tab-bar-bar){
        height: 100%;

        :global(.iconfont) {
          font-size: 1rem !important;
        }

        :global(.am-tab-bar-tab-title) {
          font-size: .7rem !important;
        }
      }
    }
  }
}


