.filter-container {
  position: relative;
  z-index: 4;
  height: 2rem;
  background-color: #fff;
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .5);
  }
  .content {
    position: absolute;
    z-index: 4;
    width: 100%;
    background-color: #fff;
  }
}

// 用于解决点击条件筛选栏（搜索栏下方的导航栏）时，房源列表数据依旧能够滚动的类样式
.overflow {
  overflow: hidden;
}