.city-list-container {
  background-color: #fff;
  height: 100%;
  padding-top: 2.25rem;

  .navbar {
    height: 2.25rem;
    margin-top: -2.25rem;

    background-color: #f6f5f6;
    :global(.am-navbar-title) {
      font-size: .9rem;
      color: #333;
    }
    :global(.icon-back) {
      font-size: .8rem;
      color: #333;
    }
  }

  .row {
    padding: 0 .5rem;
    border-bottom: .05rem solid #f6f5f6;
    .title {
      height: 1rem;
      line-height: 1rem;
      color: #ccc;
      font-size: .7rem;
    }
    .city {
      height: 2rem;
      line-height: 2rem;
      font-size: .8rem;
    }
  }
}

// 1、.city-list-container必须 height: 100%; 否则react-virtualized的List组件不能占满高度
// 2、.city-list-container必须 挤出顶部导航栏高度，否则顶部导航栏会随下方内容List组件一起滚动（此时List组件的高度与整体容器高度一致）
// 2、因此 .city-list-container { height: 100% } 然后让导航栏往上走个负margin-top（值为导航栏高度值），即 .navbar { margin-top: -2.25rem }
// 3、react-virtualized的List组件渲染的每一行可能高度会随内容多少而不同，因此不要使用flex布局，而是应该使用明确高度的height与line-height来书写样式，便于后期计算List中每一行的高度
