html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei';
  color: #333;
  font-size: .7rem;
}

#root,
.App-container {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: pan-y;
}

i {
  font-style: normal;
}

// 1、touch-action: pan-y;用于清除轮播图组件中chrome的阻止默认事件时的报错